
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <h1 class="display-4"><%= title %> page</h1>
      <br />
      <form id="form">
        <h2>Add book form</h2>
        <!-- https://www.100forms.com/sources/ready-forms/contact-us-form/ -->
        <table style="width:100%;max-width:550px;border:0;" cellpadding="8" cellspacing="0">
         <tr> <td>
        <label for="name">Book Name*:</label>
        </td> <td>
        <input name="name" id="name_box" type="text" maxlength="60" style="width:100%;max-width:250px;" />
        </td> </tr> <tr> <td>
        * - required fields
        </td> <td>
        <div style="float:right"></div>
        <button id="submit" onClick="submit">Submit Edit</button>
        <!-- button name="Check input" id="check" value="Check input" onClick="checkInput(e)">Check Inputs</button -->
        <a href="/closed/home" style="text-decoration: none">Cancel</a>
        </td> </tr>
        </table>
        </form>

  </main>

  
  <script>
    async function submit(e){
        e.preventDefault();
        let name = document.getElementById("name_box").value
        //console.log({id, name, number, email})
        //alert("OK")
        await fetch(
	    	`/books/v1/new?name=${name}`,
    		{ method: 'POST' }
        )
        window.location.href="/closed/booklist"
    }

    //fetchContact(window.location.pathname.split("/").pop())
    document.getElementById("submit").addEventListener ("click", submit);
  </script>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  


