<%- include partials/navbar.ejs %>

  <!-- Main Content -->
  <div class="main">

    <main class="container">

      <div style="margin: 20px;">
        <h2>Book Details</h2>
        <br />
        <div style=" float: left; width: 35%;">
          <img
            style="width: 100%; border-radius: 50px; max-height: 500px; object-fit: contain;  background-color: #a6a8e147;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
            src="/<%=book.image%>" onerror="this.onerror=null;this.src='/noImage.png';" alt="book cover" />

          <br><br>
          <p><b>QR Code for Book Page</b></p>
          <div id="qrcode-container"></div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
            integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script>

            window.onload = function () {
              const QRContainer = document.getElementById("qrcode-container");
              QRContainer.innerHTML = "";
              new QRCode(QRContainer, {
                text: window.location.href,
                width: 150,
                height: 150,
                colorDark: "purple",
                colorLight: "yellow",
              });
            }
          </script>


        </div>

        <div style="margin-left: 30px; float: left; width: 45%;">
          <h1 style="margin-bottom: 0px;">
            <%= book.title %>
          </h1>
          <i>by <%= book.author %></i>
          <br />
          <br />
          <p><b>Genre:</b>
            <%= book.genre %>
          </p>
          <hr />
          <b>Description:</b>
          <p>
            <%= book.description %>
          </p>
          <hr />

          <% if (book.copiesAvailable <=0) { %>
            <button class="btn btn-danger">NO Copies currently Available</button>
            <% } else { %>

              <button class="btn btn-primary" onclick="navigate('/borrow/<%= book._id %>')">Borrow</button>


              <% } %>
                <br /><br />


                <p>
                  <b>Copies Available:</b>
                  <%= book.copiesAvailable %> <br /><br />
                    <b>ISBN:</b>
                    <%= book.isbn %> <br />
                      <b>Published:</b>
                      <%= book.publishedDate? new Date(book.publishedDate).toLocaleString("en-CA",{year: 'numeric'
                        ,month: 'long' , day: 'numeric' }) : 'unspecified' %> <br />
                        <b>Weight:</b>
                        <%= book.weight %> lbs <br />
                </p>
        </div>
      </div>
      
      <div style="clear:both"><br /><hr>
        <p "><i style=" font-size: 3em;color:blue" class="bi bi-robot"></i> <b>Artificial Intelligence comment
            Analysis</b></p>

        <p><i style="font-size: 2.5em;color:green" class="bi bi-hand-thumbs-up-fill"></i> <span
            style="font-size: 2.5em;">
            <%=book.upvotes%>
          </span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i style="font-size: 2.5em;color:red" class="bi bi-hand-thumbs-down-fill"></i> <span
            style="font-size: 2.5em;">
            <%=book.downvotes%>
          </span>

      </div>
      <hr>
      <br>
      <h1>Comments</h1>

      <hr>

    </main>

  </div>





  <%- include partials/footer.ejs %>