<%- include partials/header_open.ejs %>

<%- include partials/main_nav_open.ejs %>

<!DOCTYPE html>
<html>
<head>
    <title>Book Details</title>
</head>
<body>
    <h1>Book Details</h1>
    <ul>
        <li><strong>ID:</strong> <%= book.id %></li>
        <li><strong>Name:</strong> <%= book.name %></li>
        <li><strong>Borrowed By:</strong> <%= book.borrowedBy ? book.borrowedBy : 'Not borrowed' %></li>
        <li><strong>Expiry Date:</strong> <%= book.expiryDate %></li>
        <li><strong>Reservation:</strong>
            <ul>
                <% book.reservation.forEach(function(reservation) { %>
                    <li><%= reservation %></li>
                <% }); %>
            </ul>
        </li>
        <li><strong>Past Borrowers:</strong>
            <ul>
                <% book.pastBorrowers.forEach(function(pastBorrower) { %>
                    <li><%= pastBorrower %></li>
                <% }); %>
            </ul>
        </li>
        <li><strong>Comments:</strong>
            <ul>
                <% book.comments.forEach(function(comment) { %>
                    <li><%= comment %></li>
                <% }); %>
            </ul>
        </li>
        <li><strong>Book Status:</strong> <%= book.bookStatus %></li>
        <li><strong>Upvotes:</strong> <%= book.upvotes %></li>
        <li><strong>Downvotes:</strong> <%= book.downvotes %></li>
    </ul>

    <!-- Hyperlink to return the book -->
        <a href="/returnbook/<%= book._id %>">Return this book</a>
</body>
</html>
<%- include partials/bottom_nav_open.ejs %>  

<%- include partials/footer_open.ejs %>