<%- include partials/navbar.ejs %>

  <!-- Main Content -->
  <div class="main">

    <main class="container">



      <div style="margin-bottom: 50px;">
        <img alt="logo" src="../../Assets/images/dronelogo.avif" class="mx-auto d-block"
          style="width: 200px;border:5px solid gray"><br>
        <h1 class="text-center border border-2" style="padding: 10px; background: #0084ab52;">Drone Delivery</h1>


        <br>
        <div>
          <img alt="logo" src="../../Assets/images/dronedelivery.gif" class="mx-auto d-block"
            style="width: 200px;float:right">
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4 " style="display: flex;align-items: center;">
              <img style="margin: 5px;max-height: 125px;object-fit: contain;  background-color: #a6a8e147;"
                src="/<%=book.image%>" onerror="this.onerror=null;this.src='/noImage.png';" class="card-img" alt="book cover">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  <%= book.title %> <small class="text-muted"><i> - by <%= book.author %></i></small>
                </h5>
                <p style="font-size: 0.8em;" class="card-text">
                  <b>Copies Available:</b>
                  <%= book.copiesAvailable %> <br />
                    <b>ISBN:</b>
                    <%= book.isbn %> <br />

                      <b>Weight:</b>
                      <%= book.weight %> lbs
                </p>

              </div>
            </div>
          </div>
        </div>
        <br><br>

        <form action="/delivery/confirm/<%=book._id%>" method="post" id="bookform" style="padding: 30px;"
          class="mx-auto d-block border border-2">
          <div class="form-group">
            <label for="address">Delivery Address</label>
            <input name="address" type="text" class="form-control" id="address" placeholder="Enter delivery Address"
              required>
          </div>


          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="latitude">Latitude</label>
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">Latitude</span>
                </span>
                <input name="latitude" type="number" class="form-control" id="latitude"
                  placeholder="Enter latitudinal Coordinate" step="0.0000001" required>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="longitude">Longitude</label>
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">Longitude</span>
                </span>
                <input name="longitude" type="number" class="form-control" id="longitude"
                  placeholder="Enter Longitude Coordinate" step="0.0000001" required>
              </div>
            </div>
          </div>

          <button onclick="getLocation()" type="button" class="btn btn-success">Get Current Coordinates</button>
          <p id="demo"></p>

          <script>
            const x = document.getElementById("demo");

            function getLocation() {
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
              } else {
                x.style.color = "red"
                x.innerHTML = "Geolocation is not supported by this browser.";
              }
            }

            function showPosition(position) {
              x.style.color = "black"
              x.innerHTML = ""
              //x.innerHTML = "Latitude: " + position.coords.latitude +
               // "<br>Longitude: " + position.coords.longitude;


                document.getElementById("latitude").value = position.coords.latitude ;
                document.getElementById("latitude").style.backgroundColor = "#ff00002e"

                document.getElementById("longitude").value = position.coords.longitude;
                document.getElementById("longitude").style.backgroundColor = "#ff00002e"


                googlemap.src = "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5759.813429498754!2d"+position.coords.longitude+"!3d"+position.coords.latitude+"!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1700764538970!5m2!1sen!2sca";

            }

            function showError(error) {
              x.style.color = "red"
              switch (error.code) {
                case error.PERMISSION_DENIED:
                  
                  x.innerHTML = "User denied the request for Geolocation."
                  break;
                case error.POSITION_UNAVAILABLE:
                  x.innerHTML = "Location information is unavailable."
                  break;
                case error.TIMEOUT:
                  x.innerHTML = "The request to get user location timed out."
                  break;
                case error.UNKNOWN_ERROR:
                  x.innerHTML = "An unknown error occurred."
                  break;
              }
            }
          </script>

          <hr>
          <iframe
          id = "googlemap"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.405018618515!2d-79.23074402391914!3d43.78520814388309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0f21fd9078f%3A0x46e3fe92c0cd2b18!2sCentennial%20College!5e0!3m2!1sen!2sca!4v1700762170729!5m2!1sen!2sca"
            style="border:0;max-width: 800px; width: 100%;height: 350px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <hr>

          <button class="btn btn-primary" type="submit">Confirm Delivery</button>
          <a href="/book-details/<%=book._id%>" class="btn btn-danger" style="margin-left: 20px;">Cancel</a>

        </form>
      </div>







    </main>

  </div>





  <%- include partials/footer.ejs %>