

<%- include partials/header_open.ejs %>

<%- include partials/main_nav_open.ejs %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include partials/bottom_nav_open.ejs %>

<%- include partials/footer_open.ejs %>

<!-- -->>