
<%- include partials/header_open.ejs %>

<%- include partials/main_nav_open.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1>Login</h1>

        <form action="users/v1/login" method="POST">
          <div>
            <label for="name">User Name</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Login</button>
        </form>

        <% if (messages.error) { %>
            <%= messages.error %>
        <% } else if (locals.messages.error) {%>
          <%= locals.messages.error %>
        <% } %>
      
    </div>
    <div>
      {loginID: admin; password: admin}
    </div>
  </main>
  
<%- include partials/bottom_nav_open.ejs %>  

<%- include partials/footer_open.ejs %>
  




